<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900071776237-q7fa0s2gcak8bumjc3h5avsatmdatfdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900071776237-q7fa0s2gcak8bumjc3h5avsatmdatfdk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900071776237-3s9457etu6g4q294lmo6dr9ia7cb0f50.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtdX2j0T3W2hDUCE2OWqCffXt3xlnGtGs</string>
	<key>GCM_SENDER_ID</key>
	<string>900071776237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>authsample-4fd39</string>
	<key>STORAGE_BUCKET</key>
	<string>authsample-4fd39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900071776237:ios:8bc1acc11519a06dc411e4</string>
	<key>DATABASE_URL</key>
	<string>https://authsample-4fd39.firebaseio.com</string>
</dict>
</plist>